@charset "UTF-8"

body{
    background-color: green
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color:green
    background-color: yellow
}
h2 {color: rgb(206, 170, 170);
}
p{
    text-align: justify;
}
